.review-entrypoint {
    width: 80%;
    height: 80px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-color: var(--theme-color-C);

    transition: all .3s cubic-bezier(0, 1, 1, 1);
}

.review-entrypoint .entry-text {
    font-weight: 500;
    font-size: 16px;
    color: white;
    white-space: nowrap;
    
    position: absolute;
    top: calc( 50% - 10px );
    left: 50%;
    transform: translate(-50%, -50%);
}