.shop-specinfo-worktime {
    width: calc( 100% - 40px );
    height: calc( 100% - 95px );

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: auto;
}

.shop-specinfo-worktime .worktime-day-selector {
    width: 100%;
    height: 100%;
    
    position: relative;
    top: 0;
    left: 0;
    
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, auto);
}

.shop-specinfo-worktime .worktime-day-selector .worktime-dayblock {
    width: 100%;
    height: 100%;
    
    position: relative;
    top: 0;
    left: 0;

    text-align: center;

    cursor: pointer;
}

.shop-specinfo-worktime .worktime-day-selector .worktime-dayblock span {
    font-weight: 500;
    color: lightgray;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shop-specinfo-worktime .worktime-display {
    width: 100%;
    height: calc( 100% - 40px );

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shop-specinfo-worktime .worktime-display .worktime-dpbar {
    width: 100%;
    height: 35px;

    position: absolute; 
    left: 0;

    border-radius: 5px;
    
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.shop-specinfo-worktime .worktime-display .worktime-dpbar.worktime-am {
    top: 0; 
}
.shop-specinfo-worktime .worktime-display .worktime-dpbar.worktime-pm {
    bottom: 0; 
}

.shop-specinfo-worktime .worktime-display .worktime-dpbar .worktime-data {
    height: 100%;

    position: absolute;
    top: 0;

    border-radius: 5px;

    background-color: var(--theme-color-C);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    animation-name: worktimeBlockIn;
    animation-duration: .5s;
}

@keyframes worktimeBlockIn {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        opacity: 1;   
    }
}