/* friend-blocks (list-wrapped) */
.friend-list-blocks {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;

    /* transition common option */
    transition: all .3s cubic-bezier(0, 0.06, 0.25, 1); 
}

/* friend-block */
.friend-list-block {
    width: calc(100% - 10px);
    height: 60px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    /* animation common option */
    animation-name: friend-block-open;
    animation-duration: .2s;
    animation-timing-function: ease;
    
    /* font common option */
    font-family: "Noto Sans KR", sans-serif;
}

.friend-list-block:first-child {
    margin-top: 10px;
}

.friend-list-block .profile-img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: lightblue;
    background-size: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.friend-list-block .user-name {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 500;
}

.friend-list-block .department {
    width: 50%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 150px;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 300;
}

.friend-list-block .department .college {
    position: absolute;
    top: 0;

    transition: all .2s ease;
}

.friend-list-block .department .major {
    position: absolute;
    bottom: 0;

    transition: all .2s ease;
}

.friend-list-block .checkbox {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #F7F7F7;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    stroke-dasharray: 35;
    stroke-dashoffset: 35;

    /* transition common option */
    transition: all .3s cubic-bezier(0, 0.06, 0.25, 1); 

    /* animation common option */
    animation-duration: .5s;
    animation-fill-mode: both;
}

.friend-list-block .checkbox.check {
    animation-name: checkbox-boxcheck-check;
}

.friend-list-block .checkbox.uncheck {
    animation-name: checkbox-boxcheck-uncheck;
}

.friend-list-block .checkbox svg {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* animation common option */
    animation-duration: .3s;
    animation-fill-mode: both;
}

.friend-list-block .checkbox svg.check {
    animation-name: checkbox-strokecheck-check;
}

.friend-list-block .checkbox svg.uncheck {
    animation-name: checkbox-strokecheck-uncheck;
}

@keyframes friend-block-open {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes friend-block-close {
    from {
        opacity: 1;
    }
    to {
        height: 0;
        opacity: 0;
    }
}

@keyframes checkbox-boxcheck-check {
    from {
        background-color: #F7F7F7;
    }
    to {
        background-color: var(--theme-color-C);
    }
}

@keyframes checkbox-boxcheck-uncheck {
    from {
        background-color: var(--theme-color-C);
    } 
    to {
        background-color: #F7F7F7;
    }
}

@keyframes checkbox-strokecheck-check {
    from {
        /* transform: rotateZ(90deg) translate(-50%, -50%); */
        stroke-dashoffset: 35;
        stroke: var(--theme-color-C);
    }
    to {
        /* transform: rotateZ(0deg) translate(-50%, -50%); */
        stroke-dashoffset: 0;
        stroke: white;
    }
}

@keyframes checkbox-strokecheck-uncheck {
    from {
        /* transform: rotateZ(0deg) translate(-50%, -50%); */
        stroke-dashoffset: 0;
        stroke: white;
    }
    99.95% {
        /* transform: rotateZ(-90deg) translate(-50%, -50%); */
        stroke-dashoffset: -35;
        stroke: var(--theme-color-C);
    }
    to {
        /* transform: rotateZ(90deg) translate(-50%, -50%); */
        stroke-dashoffset: 35;
    }
}