.mobile-notis {
    width: 90%;
    height: 100px;
    /* height: auto; */
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    z-index: 150;
    transition: all .2s ease;
}