.meeting-manage-menu {
    width: 100%;
    height: 80%;
    top: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.meeting-manage-menu .title-area .description {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: var(--theme-color-C);
    position: relative;
    top: calc(50% + 20px);
    left: 0;   
}

.meeting-manage-menu .meeting-info-wrapper {
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    /* background-color: orange; */
    /* overflow-x: hidden; */
    overflow-y: auto;
    scrollbar-width: none;
}

.meeting-manage-menu .meeting-info-wrapper::-webkit-scrollbar {
    display: none;
}

.meeting-manage-menu .meeting-info-wrapper .invited-list {
    width: 100%;
    height: 480px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .invited-list-subblock {
    width: 100%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .invited-list-subblock.block-A {
    height: 200px;
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .invited-list-subblock.block-B {
    height: 150px;
    top: 30px;
}

.meeting-manage-menu .meeting-info-wrapper .minfo-block .context-title {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    color: var(--theme-color-C);
    font-size: 16px;
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .invited-list-subblock .user-list {
    width: 100%;
    height: 150px;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .invited-list-subblock.block-B .user-list {
    height: 80px;
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .invited-list-subblock .user-list::-webkit-scrollbar {
    display: none;
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .invited-list-subblock .user-list .users-aligner {
    min-width: 100%;
    height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .invited-list-subblock .user-list .users-aligner .participate-user-block-A {
    width: 80px;
    height: 100%; 
    float: left;
    background-color: #C9C9C91A;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-left: 20px;
    position: relative;
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .invited-list-subblock .user-list .users-aligner .participate-user-block-A .user-image {
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    border-radius: 25px;
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .invited-list-subblock .user-list .users-aligner .participate-user-block-A .user-name {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    color: var(--theme-color-C);
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .invited-list-subblock .user-list .users-aligner .participate-user-block-B {
    width: 80px;
    height: 100%; 
    float: left;
    background-color: #C9C9C91A;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-left: 20px;
    position: relative;
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .invited-list-subblock .user-list .users-aligner .participate-user-block-B .user-name {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    color: var(--theme-color-C);
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .invited-list-subblock .user-list .users-aligner .invite-standby-null {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    color: lightgray;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meeting-manage-menu .meeting-info-wrapper .invited-list .limit-notice {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    color: var(--theme-color-C);
    font-size: 14px;
    width: 100%;
    height: fit-content;
    position: relative;
    top: 40px;
    text-align: left;
}

.meeting-manage-menu .meeting-info-wrapper .meeting-time {
    width: 100%;
    height: 150px;
    position: relative;
    /* background-color: thistle; */
}

.meeting-manage-menu .meeting-info-wrapper .meeting-time-display-wrap {
    width: 100%;
    height: 60px;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
}

.meeting-manage-menu .meeting-info-wrapper .meeting-time-display {
    width: 100%;
    height: 110px;
    position: relative;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meeting-manage-menu .meeting-info-wrapper .filtered-list {
    width: 100%;
    height: 150px;
    position: relative;
    /* background-color: thistle; */
}

.meeting-manage-menu .meeting-info-wrapper .filtered-list .filters-wrap {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.meeting-manage-menu .meeting-info-wrapper .filtered-list .filters-wrap::-webkit-scrollbar {
    display: none;
}

/* Mobile Alert: participant editor */

.friend-selector {
    height: 200px;
    position: relative;
    bottom: unset !important;
    top: 30px;
}

.time-selector-wrap {
    width: 100%;
    height: 120px;
    position: relative;
    top: 60px;
    /* background-color: thistle; */
}

.filter-selector-wrap {
    width: 100%;
    height: 100px;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.filter-selector-wrap::-webkit-scrollbar {
    display: none;
}