.catch-phrase {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: fade-in .4s cubic-bezier(0.3, 0, 0.3, 1);
    animation-delay: 1.6s;
    animation-fill-mode: both;
}

.login-contents {
    width: 80%;
    height: 300px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%);

    animation: fade-in .2s cubic-bezier(0.3, 0, 0.3, 1);
    animation-delay: 2s;
    animation-fill-mode: both;
}

.login-contents .stage-title {
    font-size: 20px;
    font-weight: 500;

    transition: all .2s ease;
}

.login-contents .stage-ment {
    font-size: 14px;
    font-weight: 300;
    position: relative;
    top: 20px;

    transition: all .2s ease;
}

.login-contents .stage-ment p {
    margin: 0;
    word-break: keep-all;

    transition: all .2s ease;
}

.login-contents .stage-rendering {
    width: 100%;
    height: 120px;
    position: relative;
    top: 70px;
    left: 0;    
}

.login-contents .stage-rendering.stage-fade-in {
    animation: stage-fade-in .1s cubic-bezier(0, 1, 1, 1);
}

.login-contents .stage-rendering.stage-fade-out {
    animation: stage-fade-out .1s cubic-bezier(0, 1, 1, 1);
    animation-fill-mode: both;
}


/* animate option */

@keyframes fade-in {
    from {
        opacity: 0;
        top: 45%;
    }
    40% {
        opacity: 0;
    }
    to {

    }
}

@keyframes stage-fade-in {
    from {
        opacity: 0;
        /* left: -10px; */
    }
    to {
    }
}

@keyframes stage-fade-out {
    from {
    }
    to {
        opacity: 0;
        /* left: 10px; */
    }
}