.menu_block_cover {
    width: auto;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.menu_block_cover .menu_block {
    /* width: 400px;
    height: 300px; */
    /* width: auto; */
    width: 90%;
    height: 90%;
    border-radius: 50px;
    box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: all .2s ease;
}

.menu_block_cover .menu_block:hover {
    width: calc(90% + 10px);
    height: calc(90% + 10px);
}

.menu_block_cover .menu_block .title {
    position: relative;
    top: 40px;
    left: 40px;
    font-size: 26px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    margin: 0;
    color: var(--theme-color-C);
}

.menu_block_cover .menu_block .subtext {
    position: relative;
    top: 55px;
    left: 40px;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    word-break: keep-all;
    max-width: 44%;
    min-width: 150px;
    margin: 0;
    color: var(--theme-color-D);
}

.menu_block_cover .menu_block .boxImage {
    width: auto;
    height: 80%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 1;
    transition: all .24s ease;
    z-index: -10;
}

@media ( max-width: 1650px ) {
    .menu_block_cover .menu_block .boxImage {
        opacity: 0.65;
    }
}

@media ( max-width: 900px ) {
    .menu_block_cover .menu_block {
        box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.3);
    }
}