.filterBlock {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    transition: all .5s cubic-bezier(0.05, 0.88, 0.05, 0.94);
    overflow: hidden;
    position: relative;
}

.filterBlock:hover {
    width: 105px;
    height: 52px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.filterBlock .filterName {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #005BAE;
}

.filterBlock .optionValue {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: right;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-100%, -50%);
    color: white;
}

.filterBlock .optionSelector {
    width: 80%;
    height: calc(80% - 30px);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
}

.filterBlock .optionSelector .selections {
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #0d6ec9; */
    overflow-y: auto;
    color: #005BAE;
    font-weight: 300;
}

.filterBlock .optionSelector .selections .filter_select {
    width: 80px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid;
    border-color: #005BAE;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.filterBlock .optionSelector .selections .filter_select .innerText {
    width: fit-content;
    height: fit-content;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Noto Sans KR", sans-serif;
}