/* Theme Definition */

:root {
    --theme-color-A: #002B52;
    --theme-color-B: #00407B;
    --theme-color-C: #005BAE;
    --theme-color-D: #006ED3;
    --theme-color-E: #008BAE;
}

/* Transition */

.routerFade-enter {
    opacity: 0;
    margin-right: -80px;
}

.routerFade-enter.routerFade-enter-active {
    opacity: 1;
    margin-right: 0px;
    transition: all .25s cubic-bezier(0.03, 0.72, 0.08, 1.02);
    transition-delay: .24s;
}


.routerFade-exit {
    opacity: 1;
    margin-right: 0px;
}

.routerFade-exit.routerFade-exit-active {
    opacity: 0;
    margin-right: 80px;
    transition: all .25s cubic-bezier(0.03, 0.72, 0.08, 1.02);
}

@media ( max-width: 1500px ) {
    .routerFade-enter {
        margin-top: 100px;
        margin-right: unset;
    }
    
    .routerFade-enter.routerFade-enter-active {
        margin-top: 0;
        margin-right: unset;
        transition: all .5s cubic-bezier(0.03, 0.72, 0.08, 1.02);
        transition-delay: .24s;
    }
    
    
    .routerFade-exit {
        margin-top: 0;
        margin-right: unset;
    }
    
    .routerFade-exit.routerFade-exit-active {
        margin-top: 100px;
        margin-right: unset;
        transition: all .38s cubic-bezier(0.03, 0.72, 0.08, 1.02);
    }
}