/* Theme Definition */

:root {
    --theme-color-A: #002B52;
    --theme-color-B: #00407B;
    --theme-color-C: #005BAE;
    --theme-color-D: #006ED3;
    --theme-color-E: #008BAE;
}

/* Transition */

.routeTrans_fade-enter {
    opacity: 0;
}

.routeTrans_fade-enter.routeTrans_fade-enter-active {
    opacity: 1;
    transition: all .2s ease;
}


.routeTrans_fade-exit {
    opacity: 1;
}

.routeTrans_fade-exit.routeTrans_fade-exit-active {
    opacity: 0;
    transition: all .2s ease;
}