.menuBlocksCover {
    /* width: calc(100% - ( 30% + 150px + 200px )); */
    height: calc(100% - 100px) !important;
    top: 100px !important;
    right: 80px !important;
    transform: none !important;
    /* background-color: rgb(0, 0, 0, 0.2); */
    display: block;
    overflow-y: auto;
}

.menuBlocksCover .menuBlocks {
    width: calc(100% - 50px);
    height: auto;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    grid-template-rows: 180px 50px 100px 150px 200px;
    /* gap: 40px; */
}

@media (max-width: 1500px) {
    .menuBlocksCover {
        top: 300px !important;
        right: unset !important;
        transform: translate(-50%) !important; 
    }
}

@media (max-width: 700px) {
    .menuBlocksCover {
        width: 100%;
    }
}