.specArea .basic_infos {
    width: 100%;
    height: 200px;
    position: relative;
    /* top: 50px; */
    left: 50%;
    transform: translate(-50%);
    /* border: 1px solid black; */
}

.specArea .basic_infos .shop_name {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: var(--theme-color-C);
    position: relative;
    top: 0;
}

.specArea .basic_infos .shop_cat {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--theme-color-C);
    position: relative;
    top: 0;
    left: 20px;
}

.specArea .basic_infos .shop_status {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    top: 10px;
    right: 0;
    float: right;
}

.specArea .basic_infos .info_dp {
    width: 220px;
    height: 25px;
    position: relative;
    /* border: 1px solid black; */
}

.specArea .basic_infos .info_dp .service_icn {
    width: 25px;
    height: 25px;
    position: relative;
}

.specArea .basic_infos .info_dp .service_icn .icn {
    width: 25px;
    height: 25px;
    /* fill: var(--theme-color-C); */
}

.specArea .basic_infos .info_dp .text {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 55px;
    transform: translateY(-10%);
    color: var(--theme-color-C);
}

.specArea .basic_infos .shop_number {
    top: 20px;
}

.specArea .basic_infos .shop_distance {
    top: 30px;
    height: 56px;
}

.specArea .basic_infos .shop_distance .text.f_button {
    color: rgb(187, 187, 187);
    top: 30px;
    font-weight: 100;
    font-size: 15px;
    cursor: pointer;
}

.specArea .basic_infos .shop_send {
    top: 40px;
}

.specArea .basic_infos .shop_send .service_icn {
    width: 22px;
}

.specArea .basic_infos .shop_send .service_icn .icn {
    width: 38px;
    height: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
}