.login-cover {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

.login-cover .title {
    font-size: 28px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    color: var(--theme-color-C);
    position: absolute;
    top: 0;
    left: 0;
}

.login-cover .ment {
    transition: all .2s cubic-bezier(0.23, 1, 0.320, 1);
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    color: var(--theme-color-C);
    word-break: keep-all;
    position: relative;
    top: 80px;
    left: 0;
}

.login-cover .go-login-btn {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    animation-name: reveal;
    animation-duration: .2s;
    animation-fill-mode: both;
    z-index: 1500;
}

.login-cover .login-form {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    animation-duration: .2s;
    animation-fill-mode: both;
}

.login-cover .login-form .pn_input {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    animation-name: reveal;
    animation-duration: .2s;
    animation-fill-mode: both;
}

.login-cover .login-confirm {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    animation-duration: .2s;
    animation-fill-mode: both;
}

.login-cover .login-confirm .is-confirmed {
    transition: all .2s cubic-bezier(0.23, 1, 0.320, 1);
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    color: var(--theme-color-C);
    word-break: keep-all;
    position: absolute;
    top: 0px;
    left: 0;
}

.login-cover .login-confirm .department {
    transition: all .2s cubic-bezier(0.23, 1, 0.320, 1);
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    color: var(--theme-color-C);
    word-break: keep-all;
    position: absolute;
    top: 30px;
    left: 0;
}

.login-cover .pin_input {
    width: 100%;
    height: 80px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-cover .name_input {
    width: 350px;
    height: 50px;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.login-cover .email_input {
    width: 350px;
    height: 50px;
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translate(-50%, -10%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0%);
    }
}



/* Input component design */

.inp_cover {
    position: absolute;
    border-radius: 20px;
    border: 1px solid var(--theme-color-C);
    color: var(--theme-color-C);
    transition: all .24s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}

.inp_cover:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.inp_cover .placeholder {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    color: rgb(7 83 195 / 50%);
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0%, -50%);
    z-index: 100;
    transition: all .1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.inp_cover input {
    outline: none;
    border: none;
    width: 80%;
    position: relative;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    transition: all .24s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: var(--theme-color-C);
    font-size: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}