.loginCover {
    /* box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
    border-radius: 25px; */
}

.loginCover .greeting {
    transition: all .2s cubic-bezier(0.23, 1, 0.320, 1);
    font-size: 60px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.041);
    position: absolute;
    top: 20%;
    left: 80px;
    transform: translateY(-50%);
}

.loginCover .ment {
    transition: all .2s cubic-bezier(0.23, 1, 0.320, 1);
    font-size: 30px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    color: var(--theme-color-C);
    position: absolute;
    top: 27%;
    left: 150px;
    transform: translateY(-50%);
}

.loginCover .pn_input {
    width: 350px;
    height: 50px;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.loginCover .skip-login {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 17px;
    position: absolute;
    top: calc(60% + 50px);
    right: 15%;
    float: right;
    transform: translate(-50%, -50%);
    color: var(--theme-color-A);
    cursor: pointer;
}

.loginCover .pin_input {
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.loginCover .name_input {
    width: 350px;
    height: 50px;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.loginCover .email_input {
    width: 350px;
    height: 50px;
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
}

@media ( max-width: 1500px ) {
    .loginCover {
        width: 80% !important;
    }
    .loginCover .greeting {
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .loginCover .ment {
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .loginCover .pin_input {
        top: 50%;
        left: 50%;
    }
}



/* Input component design */

.inp_cover {
    position: absolute;
    border-radius: 20px;
    border: 1px solid var(--theme-color-C);
    color: var(--theme-color-C);
    transition: all .24s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}

.inp_cover:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.inp_cover .placeholder {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    color: rgb(7 83 195 / 50%);
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0%, -50%);
    z-index: 100;
    transition: all .1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.inp_cover input {
    outline: none;
    border: none;
    width: 80%;
    position: relative;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    transition: all .24s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: var(--theme-color-C);
    font-size: 18px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}