.logoWrapper {
    width: 180px;
    height: 190px;
    /* background-color: ivory;
    border: 1px solid black; */
    position: relative;
}

.logoWrapper .imgMain {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 100%;
    height: auto;
}

.logoWrapper .serviceName {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    color: #005BAE;
    font-weight: 700;
    z-index: 10;
    white-space: nowrap;
    background-color: white;
}

.logoWrapper .serviceNameEn {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: #005BAE;
    font-weight: 500;
    z-index: 10;
}