.mealmap {
    display: grid;
    grid-template-columns: 63% 35%;
    gap: 2%;
}

.mealmap .mealmapArea {
    width: auto;
    height: auto;
    border: 1px solid var(--theme-color-C);
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.2);
}

.mealmap .mealmapArea .textArea {
    width: 100%;
    height: 50px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid var(--theme-color-C);
}

.mealmap .mealmapArea .textArea .innerText {
    font-size: 20px;
    font-weight: 300;
    color: var(--theme-color-C);
    position: relative;
    top: 50%;
    left: 30px;
    margin: 0;
    transform: translate(0, -50%);
}

.mealmap .mealmapArea .textArea .btn_cngSort {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    margin: 0;
    float: right;
    font-family: "Noto Sans KR", sans-serif;
    color: var(--theme-color-C);
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.mealmap .mealmapArea .searchArea {
    width: 90%;
    height: 50px;
    position: relative;
    top: 10px;
    left: 50%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid var(--theme-color-C);
    transform: translate(-50%);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
}

.mealmap .mealmapArea .searchArea .innerText {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: var(--theme-color-C);
    margin: 0;
}

.mealmap .mealmapArea .searchArea .stylebar {
    width: 2px;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 80px;
    background-color: var(--theme-color-C);
    transform: translateY(-50%);
}

.mealmap .mealmapArea .searchArea input {
    outline: none;
    border: none;
    width: calc(100% - 130px);
    height: 60%;
    font-size: 16px;
    color: var(--theme-color-C);
    border-bottom: 1px solid #005aae00;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
    float: right;
    right: 20px;
    transform: translateY(-50%);
    transition: all .24s cubic-bezier(0.19, 1, 0.22, 1);
}

.mealmap .mealmapArea .searchArea input:focus {
    font-size: 18px;
    border-bottom: 1px solid #005aae;
}

.mealmap .mealmapArea .mapArea {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
    top: 0;
    left: 0;
}

/* infos area design */

.mealmap .infosArea {
    width: 100%;
    height: 100%;
    position: relative;
}

.mealmap .infosArea .listArea {
    width: auto;
    height: auto;
    overflow-y: hidden;
    position: relative;
    transition: all .24s cubic-bezier(0.19, 1, 0.22, 1);
}

.mealmap .infosArea .specArea {
    width: auto;
    height: auto;
    overflow-y: hidden;
    position: relative;
    transition: all .24s cubic-bezier(0.19, 1, 0.22, 1);
}


/* list design */

.mealmap .infosArea .listArea .listBlocks {
    width: 100%;
    height: calc(100% - 120px);
    position: relative;
    top: 20px;
}

.mealmap .infosArea .listArea .listBlocks .listBlock {
    width: 100%;
    height: 150px;
    box-shadow: 0px 20px 20px rgb(0, 0, 0, 0.1);
    position: relative;
    background-color: white;
}

.mealmap .infosArea .listArea .listBlocks .listBlock .shopName {
    font-size: 20px;
    font-weight: 500;
    color: #005BAE;
    position: absolute;
    top: 5px;
    left: 35px;
    width: fit-content;
}

.mealmap .infosArea .listArea .listBlocks .listBlock .GPA_avg {
    font-size: 20px;
    font-weight: 500;
    color: #005BAE;
    position: absolute;
    float: right;
    top: 5px;
    right: 55px;
    width: fit-content;   
}

.mealmap .infosArea .listArea .listBlocks .listBlock .GPA_max {
    font-size: 10px;
    font-weight: 500;
    color: #005BAE;
    position: absolute;
    float: right;
    top: 25px;
    right: 35px;
    width: fit-content;   
}

.mealmap .infosArea .listArea .listBlocks .listBlock .descriptionGPA {
    font-size: 10px;
    font-weight: 300;
    color: #cccccc;
    position: absolute;
    float: right;
    top: 42px;
    right: 35px;
    width: fit-content;   
}

.mealmap .infosArea .listArea .listBlocks .listBlock .shopStat {
    font-size: 14px;
    font-weight: 300;
    color: #cccccc;
    position: absolute;
    top: 60px;
    left: 35px;
    width: fit-content;   
}

.mealmap .infosArea .listArea .listBlocks .listBlock .workTime {
    font-size: 12px;
    font-weight: 300;
    color: #cccccc;
    position: absolute;
    top: 90px;
    left: 35px;
    width: 40%;   
    word-break: keep-all;
}

.mealmap .infosArea .listArea .listBlocks .listBlock .isTrustGPA {
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    float: right;
    top: 85px;
    right: 35px;
    width: fit-content;   
}

.mealmap .infosArea .listArea .mobileBackgroud {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: white;
    box-shadow: 0px 0 18px 0px rgb(0 0 0 / 40%);
    border-radius: 60px;
    z-index: 0;
}

/* spec design */

.mealmap .infosArea .specArea .textArea {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1500px) {
    .mealmap {
        top: 100px !important;
    }
    .mealmap .mealmapArea {
        height: 90%;
    }
}

@media (max-width: 1000px) {
    .mealmap {
        display: block;
        grid-template-columns: unset;
        gap: unset;
    }
    /* .mealmap .mealmapArea {
        height: auto;
    } */
}