.contentWrapMap {
    width: calc(auto - 100px);
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    position: relative;
    /* border: 1px solid black; */
}

.contentWrapMap .mapLayout {
    width: calc(100%);
    height: 600px;
    box-shadow: 0px 3px 20px rgb(0, 0, 0, 0.4);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.contentWrapMap .locTitle {
    /* width: 100%;
    height: 50px; */
}
.contentWrapMap #mapSpreadPoint {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
    top: 50px;
}

.contentWrapMap .blockTitleCover {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    border: 1px solid #005BAE;
    z-index: 10;
}

.contentWrapMap .blockTitleCover .title {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    margin-left: 30px;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #005BAE;
}



.contentWrapMap .shopList {
    width: calc(100% - 80px);
    height: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 20px rgb(0, 0, 0, 0.2);
}

.contentWrapMap .shopList .listTitle {
    overflow: hidden;
}

.contentWrapMap .shopList .listTitle .designCircle {
    /* width: 100px; */
    height: 100px;
    position: absolute;
    top: 50%;
    /* left: 110%; */
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color:#005aae4f;
}

.contentWrapMap .shopList .listTitle .changeSort {
    width: 80px;
    height: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    float: right;
    cursor: pointer;
}

.contentWrapMap .shopList .listTitle .changeSort .sortChangeText {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: right;
    height: fit-content;
    color: #005BAE;
}



/* listBlock */

.contentWrapMap .shopList .listBlocks {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
    top: 50px;
}

.contentWrapMap .shopList .listBlocks .listBlock {
    width: 100%;
    height: 150px;
    box-shadow: 0px 20px 20px rgb(0, 0, 0, 0.1);
    position: relative;
    background-color: white;
}

.contentWrapMap .shopList .listBlocks .listBlock .shopName {
    font-size: 20px;
    font-weight: 500;
    color: #005BAE;
    position: absolute;
    top: 5px;
    left: 35px;
    width: fit-content;
}

.contentWrapMap .shopList .listBlocks .listBlock .GPA_avg {
    font-size: 20px;
    font-weight: 500;
    color: #005BAE;
    position: absolute;
    float: right;
    top: 5px;
    right: 55px;
    width: fit-content;   
}

.contentWrapMap .shopList .listBlocks .listBlock .GPA_max {
    font-size: 10px;
    font-weight: 500;
    color: #005BAE;
    position: absolute;
    float: right;
    top: 25px;
    right: 35px;
    width: fit-content;   
}

.contentWrapMap .shopList .listBlocks .listBlock .descripttionGPA {
    font-size: 10px;
    font-weight: 300;
    color: #cccccc;
    position: absolute;
    float: right;
    top: 42px;
    right: 35px;
    width: fit-content;   
}

.contentWrapMap .shopList .listBlocks .listBlock .shopStat {
    font-size: 14px;
    font-weight: 300;
    color: #cccccc;
    position: absolute;
    top: 60px;
    left: 35px;
    width: fit-content;   
}

.contentWrapMap .shopList .listBlocks .listBlock .workTime {
    font-size: 12px;
    font-weight: 300;
    color: #cccccc;
    position: absolute;
    top: 90px;
    left: 35px;
    width: 40%;   
    word-break: keep-all;
}

.contentWrapMap .shopList .listBlocks .listBlock .isTrustGPA {
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    float: right;
    top: 85px;
    right: 35px;
    width: fit-content;   
}

.contentWrapMap .mobileBackgroud {
    width: 80%;
    height: 100%;
    position: fixed;
    top: calc(100% - 200px);
    left: 50%;
    transform: translateX(-50%);
    display: none;
    box-shadow: 0px 20px 20px rgb(0, 0, 0, 0.4);
}

@media (max-width: 1000px) {
    /* mobile */

    .wrapper {
        grid-template-columns: auto !important;
    }

    .contentWrapMap {
        display: block;
    }

    .contentWrapMap .mapLayout {
        display: none;
    }

    .contentWrapMap .mobileBackgroud {
        display: block;   
    }
}

@media (max-width: 1300px) {
    /* pc */
    .contentWrapMap .shopList .listBlocks .listBlock .isTrustGPA {
        display: none;
    }
    .contentWrapMap .shopList .listBlocks .listBlock .workTime {
        width: 70%;
    }
}
