.ERR_Wrap {
    width: 65%;
    height: 65%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 45px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.ERR_Wrap h1 {
    font-size: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    top: 50px;
    left: 50px;
    margin: 0;
}

.ERR_Wrap p {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    top: 100px;
    left: 50px;
    margin: 0;
}