.pbar {
    height: 3px;
    border-radius: 2px;
    background-color: rgb(243, 243, 243);
    position: absolute;
}

.pbar .pback {
    width: 0%;
    height: 100%;
    /* transition: all .25s cubic-bezier(0.165, 0.84, 0.44, 1); */
    background-color: var(--theme-color-C);
}

.pbar .pbtn {
    width: 25px;
    height: 15px;
    border-radius: 10px;
    background-color: var(--theme-color-C);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}