.listBlock {
    width: 100%;
    height: 150px;
    box-shadow: 0px 20px 20px rgb(0, 0, 0, 0.1);
    position: relative;
    background-color: white;
    cursor: pointer;
}

.listBlock .shopName {
    font-size: 20px;
    font-weight: 500;
    color: #005BAE;
    position: absolute;
    top: 5px;
    left: 35px;
    width: fit-content;
}

.listBlock .GPA_avg {
    font-size: 20px;
    font-weight: 500;
    color: #005BAE;
    position: absolute;
    float: right;
    top: 5px;
    right: 55px;
    width: fit-content;   
}

.listBlock .GPA_max {
    font-size: 10px;
    font-weight: 500;
    color: #005BAE;
    position: absolute;
    float: right;
    top: 25px;
    right: 35px;
    width: fit-content;   
}

.listBlock .descriptionGPA {
    font-size: 10px;
    font-weight: 300;
    color: #cccccc;
    position: absolute;
    float: right;
    top: 42px;
    right: 35px;
    width: fit-content;   
}

.listBlock .shopStat {
    font-size: 14px;
    font-weight: 300;
    color: #cccccc;
    position: absolute;
    top: 60px;
    left: 35px;
    width: fit-content;   
}

.listBlock .workTime {
    font-size: 12px;
    font-weight: 300;
    color: #cccccc;
    position: absolute;
    top: 90px;
    left: 35px;
    width: 40%;   
    word-break: keep-all;
}

.listBlock .isTrustGPA {
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    float: right;
    top: 85px;
    right: 35px;
    width: fit-content;   
}



/* registration mode */

.listBlock.register-mode {
    border: 1px solid var(--theme-color-C);
    animation-name: registerblock_in;
    animation-duration: .23s;
    animation-fill-mode: both;
    cursor: default !important;
}

.listBlock.register-mode input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--theme-color-C);
    transition: all .24s cubic-bezier(0.23, 1, 0.320, 1);
}

.listBlock.register-mode .question {
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    position: absolute;
    left: 25px;
    top: 25px;
    color: var(--theme-color-C);
    transition: all .23s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 60%;
    min-width: 150px;
}

.listBlock.register-mode .location_manualize {
    font-size: 12px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    position: absolute;
    left: 25px;
    top: 60px;
    color: var(--theme-color-C);
    transition: all .23s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 60%;
    min-width: 150px;
}

.listBlock.register-mode .answer {
    width: 100px;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    position: absolute;
    top: 65px;
    left: 25px;
    background-color: rgba(0, 0, 0, 0);
}

.listBlock.register-mode .GPA_avg {
    width: 30px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 300;
    top: 65px;
    right: 70px;
}

.listBlock.register-mode .GPA_max {
    top: 85px;
    right: 50px;
}

.listBlock.register-mode .btn_manTf {
    width: 80px;
    height: 35px;
    border-radius: 10px;
    position: absolute;
}

.listBlock.register-mode .btn_manTf_true {
    bottom: 20px;
    left: 125px;
}

.listBlock.register-mode .btn_manTf_false {
    bottom: 20px;
    left: 25px;
}

.listBlock.register-mode .pref_pbar {
    width: 50%;
    position: absolute;
    top: 70%;
    left: 25px;
    transform: translate(0%, -50%);
}

.listBlock.register-mode .cancel {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30px;
    right: 23px;
    float: right;
}

@keyframes registerblock_in {
    from {
        height: 0;
    }
    to {
        height: 150px;
    }
}

@keyframes registerblock_mapshow {
    from {
        height: 150px;
    }
    to {
        height: 200px;
    }
}


@keyframes registerblock_out {
    from {
        height: inherit;
    }
    to {
        height: 0;
    }
}