.shop-specinfo-worktime-add {
    width: calc( 100% - 80px );
    height: calc( 100% - 95px );

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.shop-specinfo-worktime-add .title-wrap {
    width: 100%;
    height: 60px;
    
    position: absolute;
    top: 0;
    left: 0;
}

.shop-specinfo-worktime-add .title-wrap p {
    color: var(--theme-colort-C);
    margin: 0;
    
    position: absolute;
}
.shop-specinfo-worktime-add .title-wrap p.text-active { 
    opacity: 1;
}
.shop-specinfo-worktime-add .title-wrap p.text-deactive {
    margin-top: -4px;
    opacity: 0;
}

.shop-specinfo-worktime-add .title-wrap .add-title {
    font-size: 20px;
    font-weight: 500;

    top: 0;
}

.shop-specinfo-worktime-add .title-wrap .add-subtitle {
    font-size: 14px;
    font-weight: 300;

    bottom: 0;
}

.shop-specinfo-worktime-add .stage-wrap {
    width: 100%;
    height: calc( 100% - 60px );

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    overflow-x: hidden;
    overflow-y: auto;
}

.shop-specinfo-worktime-add .stage-wrap::-webkit-scrollbar {
    display: none;
}

/* stage: 0 */
.shop-specinfo-worktime-add .stage-wrap .stage-0 {
    width: 100%;
    height: 160px;
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shop-specinfo-worktime-add .stage-wrap .stage-0 .workday-selector {
    width: 100%;
    height: 40px;

    position: absolute;
    top: 0;
    left: 0;
    
    display: grid;
    grid-template-columns: repeat(7, auto);
}

.shop-specinfo-worktime-add .stage-wrap .stage-0 .workday-selector span {
    font-size: 16px;
    font-weight: 500;
    color: lightgray;
    
    width: fit-content;
    height: fit-content;
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    cursor: pointer;
}
.shop-specinfo-worktime-add .stage-wrap .stage-0 .workday-selector span.selected_day {
    color: var(--theme-colort-C);
    font-weight: 700;
}

.shop-specinfo-worktime-add .stage-wrap .stage-0 .workday-common-selector {
    width: calc( 100% - 4px );
    height: 60px;

    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

/* stage: 1 */
.shop-specinfo-worktime-add .stage-wrap .stage-1 {
    width: 100%;
    height: 80%;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}