.shop-specinfo-location {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.shop-specinfo-location .minimap {
    width: 100%;
    height: 100%;

    z-index: 100;
}

.shop-specinfo-location .shop-address-displayer {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
}